<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container">

    <ul class="navbar-nav">
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatars dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdown">
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
              <div class="dropdown2">
                <button class="iniciarsesion">Iniciar Sesion
                </button>
                <div class="dropdown-content">
                  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                    <div class="form-inputs" style="width:250px;">
                      <%= f.input :email, required: false, autofocus: true, input_html: { autocomplete: "email" } %>
                      <%= f.input :password, required: false, input_html: { autocomplete: "current-password" } %>
                      <%= f.input :remember_me,label: 'Recordarme', as: :boolean if devise_mapping.rememberable? %>
                    </div>

                    <div class="form-actions">
                      <%= f.button :submit, "Iniciar Sesion", class: "iniciarsesion w-100" %>
                    </div>
                  <% end %>
                  <div class="dropdown-divider"></div>
                  <%= render "devise/shared/links" %>
                </div>
              </div>

      <% end %>
    </ul>
        <%#= link_to 'Dianara.com', root_path, class: 'navbar-brand pl-3 menunavbar' %>
        <a class="navbar-brand pl-3 menunavbar" href="/">Dianara.com</a>

        <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon custom-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle menunavbar" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Album de Fotos
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
          </ul>
        </div>

  </div>
</nav>


