
    <p id="notice"><%= notice %></p>

    <h2>Photos</h2>

    <table>
      <thead>
        <tr>
          <th>Mis 15 años, Dianara</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @albums.each do |album| %>
          <tr>
            <td><%= album.title %></td>
            <td><%= album.description %></td>
            <td><%= link_to 'Ver', album %></td>
            <% if current_user && current_user.admin? %>
              <td><%= link_to 'Editar', edit_album_path(album) %></td>
              <td><%= link_to 'Eliminar', album, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'Nuevo Album', new_album_path %>



